<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="description" content="CSS3哆啦A梦测试" /> 
<meta name="keywords" content="CSS3,哆啦A梦,CSS3测试" />
<link rel="stylesheet" type="text/css" href="../style/css.css"/> 
<script src="../javascript/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="../style/doraemon.css" media="screen,tv" title="default" /> 
<meta http-equiv="adimage" content="200" /> 
    <style>
    p{margin: 0}
    </style>
    <script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".windowclose").bind('mousedown',function(ev) {           
            QuitApp();
        });
        $(document).bind('mousedown',function(ev) {
            if(ev.target.id=='input1'){
                SetLayerWindow(true);
                return;
            }
            if(ev.target.id=='input2'){
                SetLayerWindow(false);
                return; 
            }

            DragWindow();
        });
    });
    </script>
</head> 
 
<body>
<p><input type="button" value="透明" onclick="" id="input1"><input type="button" value="不透明" id="input2"><input type="button" value="关闭" class="windowclose"  id="input2"></p> 
<div id="doraemon"> 
	<div id="face"> 
    	<div id="head_light"></div> 
    	<div id="eyes"> 
    	<div class="eye eye_left"></div> 
        	<div class="black_eye black_left"></div> 
        
      	<div class="eye eye_right"></div> 
        	<div class="black_eye black_right"></div> 
        </div> 
        <div id="base"> 
			<div id="base_white"></div> 
				<div id="nose"> 
					<div id="nose_light"></div> 
				</div> 
                <div id="nose_line"></div> 
                <div id="mouth"></div> 
                <div id="mouth_rewrite"></div> 
                <div id="firefox_mouth"></div> 
 
				<div class="whiskers whi_right_top rotate160"></div> 
				<div class="whiskers whi_right"></div> 
				<div class="whiskers whi_right_bottom rotate20"></div> 
                    
				<div class="whiskers whi_left_top rotate20"></div> 
				<div class="whiskers whi_left"></div> 
				<div class="whiskers whi_left_bottom rotate160"></div> 
        </div> 
	</div> 
    <div id="choker"> 
    	<div id="belt"></div> 
    	<div id="bell"> 
       	  <div id="bell_line"></div> 
            <div id="bell_circle"></div> 
            <div id="bell_under"></div> 
		<div id="bell_light"></div> 
		</div> 
    </div> 
	<div id="body"> 
    <div id="doutai"></div> 
		<div class="base_white2 doutai_center"></div> 
        		<div id="pocket"> 
                	<div id="circle"></div> 
                    <div id="circle_rewrite"></div> 
                </div> 
	</div> 
	<div id="hand_right"> 
    	<div id="arm_right"></div> 
		<div class="hand_circle hand_right"></div> 
		<div class="arm_rewrite_right"></div> 
    </div> 
	<div id="hand_left"> 
    	<div id="arm_left"></div> 
		<div class="hand_circle hand_left"></div> 
	  <div class="arm_rewrite_left"></div> 
    </div> 
	<div id="foot"> 
    	<div id="foot_left"></div> 
        <div id="foot_right"></div> 
        <div id="foot_rewrite"></div> 
    </div> 
    	<div id="shadow_doutai_arm"></div> 
    	<div id="shadow_doutai_left"></div> 
    	<div id="shadow_doutai_right"></div> 
        <div id="shadow_belt"></div> 
</div> 
</body> 
</html> 