<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../style/css.css"/>
	<script src="../javascript/jquery.min.js"></script>
	<script src="../javascript/js.js"></script>
	<style>
	#div1 {width:300px;height:80px;padding:10px;border:1px solid #aaaaaa;}
	</style>
	<script type="text/javascript">
	//location.href='http://www.w3cschool.cc/try/try.php?filename=tryhtml5_draganddrop'
	jQuery(document).ready(function($) {
		$(".windowclose").bind('mousedown',function() {
			QuitApp();
		});
	});
	function allowDrop(ev)
	{
		ev.preventDefault();
	}

	function drag(ev)
	{
		ev.dataTransfer.setData("Text",ev.target.id);
	}

	function drop(ev)
	{
		ev.preventDefault();
		var data=ev.dataTransfer.getData("Text");
		ev.target.appendChild(document.getElementById(data));
	}
	</script>	
</head>
<body>
<div id="windowbar">
	<span>LTFrame实例教程-拖动</span>
	<div class="windowclose"><img src="../images/close.png"></div>
	<div id="minwindow"><img src="../images/min.png"></div>
</div>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">拖动下图到框内</div>
<br>
<img id="drag1" src="../images/logo_s.jpg" draggable="true" ondragstart="drag(event)" width="285" height="71">
</body>
</body>
</html>