<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Ipad</title>
<script src="script/jquery-1.5.1.min.js"></script>
<script src="script/scipt.js"></script>

<link rel="stylesheet" href="css/style1.css" />

</head>

<body>
  <div style="background-color:black">
<!--************************screen start*******************************-->
        <div id="screen" class="zoomOut"> 
        
            <div class="header"></div>
            
         
            <div class="iconSet">
            
                  <div class="icon">
                  <img src="images/icons/calenda.jpg" />
                  <span class="iconName">calenda</span>
                  </div>
                  
                  <div class="icon">
                  <a><img src="images/icons/photos.jpg" /></a>
                  <span class="iconName">photos</span>
                  </div>
                  
                  
                  <div class="icon">
                  <img src="images/icons/settings.jpg" />
                  <span class="iconName">settings</span>
                  </div>
                  
                  
                  <div class="icon">
                  <a onclick="location.href='iframe2.html'"><img src="images/icons/maps.jpg"/></a>
                  <span class="iconName">maps</span>
                  </div>
                  
                  
                  <div class="icon">
                  <img src="images/icons/ipod.jpg" />
                  <span class="iconName">ipod</span>
                  </div>
                  
                  
                  <div class="icon">
                  <img src="images/icons/notes.jpg" />
                  <span class="iconName">note</span>
                  </div>
                  
                 
                  <div class="icon folders">
                  <img src="images/icons/folders.jpg" />
                  <span class="iconName">folder</span>
                  </div>
                  
                  
                  <div class="icon">
                  <img src="images/icons/safari.jpg" />
                  <span class="iconName">safari</span>
                  </div>
                  
                  
                  <div class="icon">
                  <img src="images/icons/messages.jpg" />
                  <span class="iconName">mes</span>
                  </div>
                  
                  
                  <div class="icon">
                  <a><img src="images/icons/ibooks.jpg" /></a>
                  <span class="iconName">ibooks</span>
                  </div>
                  
     
                  <div class="slide">
                  <div id="point"><img src="images/uppoint.png" /></div>     
                  <div class="pack">
                  
                  <h1 id="folderName">Folder</h1>
                                <div class="icon">
                               <img src="images/icons/gamecenter.jpg">
                                <span class="iconName">game</span>
                                </div>
                                
                                <div class="icon">
                                <img src="images/icons/stocks.jpg" />
                                <span class="iconName">stocks</span>
                                </div>
                                
                                
                                <div class="icon">
                                <img src="images/icons/facetime.jpg" />
                                <span class="iconName">facetime</span>
                                </div>
                   </div>    
                   </div>
                   
                  <div class="icon">
                  <img src="images/icons/clock.jpg" />
                  <span class="iconName">clock</span>
                  </div>
                  
                  <div class="icon">
                  <img src="images/icons/mail.jpg" />
                  <span class="iconName">mail</span>
                  </div>
                  
                  <div class="icon">
                  <img src="images/icons/videos.jpg" />
                  <span class="iconName">videos</span>
                  </div>
                  
                  <div class="icon">
                  <img src="images/icons/weather.jpg" />
                  <span class="iconName">weather</span>
                  </div>                  
                  
                  <div id="dock">
                        <div id="dockSet">
                                  <div class="dockIcon">
                                  <img src="images/refel/phone-icon-20100607.png" />
                                  <span class="iconName">phone</span>
                                  </div>
                                  
                                  <div class="dockIcon">
                                  <img src="images/refel/itunes-icon-20100607.png" />
                                  <span class="iconName">itunes</span>
                                  </div>
                                  
                                  <div class="dockIcon">
                                  <img src="images/refel/appstore-icon-20100607.png" />
                                  <span class="iconName">store</span>
                                  </div>
      
                                  <div class="dockIcon">
                                  <img src="images/refel/search-icon-20100607.png" />
                                  <span class="iconName">search</span>
                                  </div>                               
                        </div>
                  </div>
                  
                  <div id="multiTask">
                         <div id="dockSet" style="margin:30px 25px">
                                  <div class="dockIcon">
                                  <img src="images/refel/phone-icon-20100607.png" />
                                  <span class="iconName">phone</span>
                                  </div>
                                  
                                  <div class="dockIcon">
                                  <img src="images/refel/itunes-icon-20100607.png" />
                                  <span class="iconName">itunes</span>
                                  </div>
                                  
                                  <div class="dockIcon">
                                  <img src="images/refel/appstore-icon-20100607.png" />
                                  <span class="iconName">store</span>
                                  </div>
      
                                  <div class="dockIcon">
                                  <img src="images/refel/search-icon-20100607.png" />
                                  <span class="iconName">search</span>
                                  </div>                               
                        </div>
                   
                  </div>
            </div> 
              
           
             
          </div>   
<!--************************screen end*******************************-->

</div>
</body>




